{% extends 'adminLayout.html' %}

{% block content %}
<a href="/albums" class="backBtn">&#171; 返回专辑管理界面</a>

<form action="/albums" method="post" data-step="1" id="albumForm" class="albumForm">
	{% if message %}
	<div class="tips">{{ message }}</div>
	{% endif %}
	<div class="step step1">
		<h3>基本信息</h3>
		<div class="inputRow">
			<label for="album_title">专辑名称</label>
			<input type="text" name="title" id="album_title" value="{{ album.title }}" autofocus="autofocus" required="required"  data-error-message="必填字段" />
		</div>
		<div class="inputRow">
			<label for="album_author">艺人</label>
			<input type="text" name="author" id="album_author" value="{{ album.author }}" required="required"  data-error-message="必填字段" />
		</div>
		<div class="inputRow typeRow">
			<label>类型</label>
			<em>主类型:</em>
			<input type="radio" name="type" value="soundtrack" {% if album.type == 'soundtrack' or album.type == '' %}checked{% endif %} />原声
			<input type="radio" name="type" value="classical" {% if album.type == 'classical' %}checked{% endif %} />古典
			<input type="radio" name="type" value="blues" {% if album.type == 'blues' %}checked{% endif %} />蓝调
			<input type="radio" name="type" value="jazz" {% if album.type == 'jazz' %}checked{% endif %} />爵士
			<input type="radio" name="type" value="easyListening" {% if album.type == 'easyListening' %}checked{% endif %} />轻音乐
			<input type="radio" name="type" value="country" {% if album.type == 'country' %}checked{% endif %} />乡村
			<br />
			<em>次类型:</em>
			<input type="text" name="subType" value="{{ album.subType }}" required="required"  data-error-message="必填字段" />
		</div>
		<div class="inputRow">
			<label for="album_published">发行时间</label>
			<input type="text" name="published" id="album_published" value="{{ album.published }}" required="required"  data-error-message="必填字段" />
		</div>
		<div class="inputRow">
			<label for="album_company">唱片公司</label>
			<input type="text" name="company" id="album_company" value="{{ album.company }}" required="required"  data-error-message="必填字段" />
		</div>
		<div class="inputRow">
			<label for="album_detail">专辑介绍</label>
			<input type="text" name="detail" id="album_detail" value="{{ album.detail }}" required="required"  data-error-message="必填字段" />
		</div>
		<div class="inputRow">
			<label for="track_list">曲目列表</label>
			<textarea  name="trackList" id="track_list" >
			{{ album.trackList }}
			</textarea>
			
		</div>
	</div>
	<div class="step step2">
		<h3>试听地址 (至少确保填写一个试听地址)</h3>
		<div class="inputRow">
			<label for="xiami_link">虾米音乐</label>
			<input type="url" name="xiamiLink" id="xiami_link" value="{{ album.xiamiLink }}" />
		</div>
		<div class="inputRow">
			<label for="kuwo_link">酷我音乐</label>
			<input type="url" name="kuwoLink" id="kuwo_link" value="{{ album.kuwoLink }}" />
		</div>
		<div class="inputRow">
			<label for="douban_link">豆瓣FM</label>
			<input type="url" name="doubanLink" id="douban_link" value="{{ album.doubanLink }}" />
		</div>
		<div class="inputRow">
			<label for="qq_link">QQ音乐</label>
			<input type="url" name="qqLink" id="qq_link" value="{{ album.qqLink }}" />
		</div>
		<div class="inputRow">
			<label for="otherListen_link">其他</label>
			<input type="url" name="otherListenLink" id="otherListen_link" value="{{ album.otherListenLink }}" />
		</div>
		<h3>购买地址</h3>
		<div class="inputRow">
			<label for="amazon_link">亚马逊</label>
			<input type="url" name="amazonLink" id="amazon_link" value="{{ album.amazonLink }}" />
		</div>
		<div class="inputRow">
			<label for="jd_link">京东</label>
			<input type="url" name="jdLink" id="jd_link" value="{{ album.jdLink }}" />
		</div>
		<div class="inputRow">
			<label for="taobao_link">淘宝</label>
			<input type="url" name="taobaoLink" id="taobao_link" value="{{ album.taobaoLink }}" />
		</div>
		<div class="inputRow">
			<label for="paipai_link">拍拍</label>
			<input type="url" name="paipaiLink" id="paipai_link" value="{{ album.paipaiLink }}" />
		</div>
		<div class="inputRow">
			<label for="otherBuy_link">其他</label>
			<input type="url" name="otherBuyLink" id="otherBuy_link" value="{{ album.otherBuyLink }}" />
		</div>
	</div>

	<div class="step step3">
		<div class="inputRow">
			<input id="upload_cover" type="file" name="uploadCover" value="选择封面" />
			<input id="album_cover" type="hidden" name="cover" value="{{ album.cover }}" />
			<input id="coords" type="hidden" name="coords" value="{{ album.coords }}" />
			<div id="coverWrap">
				<h3>当前图片</h3>
				<div class="wrap">
					{% if data.cover %}
					<img width="300" src="/images/cover/{{ album.cover }}" />
					{% endif %}
				</div>
			</div>
			<div id="previewWrap">
				<h3>预览封面</h3>
				<div class="wrap">
					{% if data.cover %}
					<img width="300" src="/images/cover/{{ album.cover }}" />
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<button type="button" data-mtype="next" class="nextBtn">下一步</button>
	<button type="submit" data-mtype="submit" class="submitBtn">完成</button>
	<button type="button" data-mtype="back" class="backBtn">返回上一步</button>
</form>
{% endblock %}
