{% extends "layout.html" %}

{% block content %}
<div class="albumModel">
	<div class="album">
		<div class="cover">
			<img src="/images/300_albumpic_65273_0.jpg" />
		</div>

		<div class="info">
			<h2 class="title">蝙蝠侠前传2: 黑暗骑士</h2>
			<div><em>艺人 : </em>Hanz Maz</div>
			<div><em>类别 : </em>电影原声</div>
			<div><em>发行时间 : </em>2011年07月15日</div>
			<div><em>唱片公司 : </em>华纳唱片</div>

			<div class="relInfo">
				<h4 class="listen">试听 :</h4>
				<ul>
					<li><a class="xiami">虾米</a></li>
					<li><a class="kuwo">酷我音乐</a></li>
					<li><a class="doubanFM">豆瓣FM</a></li>
					<li><a class="qqMusic">QQ音乐</a></li>
				</ul>

				<h4 class="buy">购买 :</h4>
				<ul>
					<li><a class="amazon">亚马逊</a></li>
					<li><a class="taobao">淘宝</a></li>
					<li><a class="jingdong">京东</a></li>
					<li><a class="paipai">拍拍</a></li>
				</ul>

				<h4 class="share">分享 :</h4>
				<ul>
					<li><a class="weibo">新浪微博</a></li>
					<li><a class="qqWeibo">腾讯微博</a></li>
					<li><a class="douban">豆瓣</a></li>
					<li><a class="renren">人人</a></li>
				</ul>
			</div>
		</div>

		<div class="detail">
			<h3>专辑介绍</h3>
			<p>同上一部作品一样，Hans Zimmer与James Newton Howard继续为此系列打造配乐，也许丹尼叶夫曼的蝙蝠侠主题太让人感到经典而导致这两位在此片的配乐上摸不着头脑。上一部的音乐我们可以看出，两人的精华在里面虽有体现，但是整体感分离严重，很容易听出乐段的作者：带有强烈电子味道的一定是Hans Zimmer，而弦乐感情丰富的一定是James Newton Howard，因此上一部作品问世并没有得到太多的好评。在这一部配乐中，两位作曲家可真是为音乐旋律抓破了头，不过风格上依旧没有摆脱上集的影子，所以很容易听出现成的旋律在里面。随着情节的延续，音乐也更为黑暗。但是我想无论音乐如何，万众瞩目的蝙蝠侠前传2一定会给影迷带来更多的惊喜。</p>
		</div>

		<div class="musicList">
			<h3>曲目列表</h3>
			<ol>
				<li>aaaaaaa</li>
				<li>bbbbbbb</li>
				<li>ccccccc</li>
			</ol>
		</div>
	</div>
	<button type="button" class="closeBtn">Close</button>
</div>
{% endblock %}