html,body,div,p,span,em,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,select,button,blockquote{margin:0;padding:0}
a,img,button{border:0;outline:0;cursor:pointer}
a{text-decoration:none}
input:focus{outline:0}
li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
em,strong,address,caption,cite,code,pre{font-style:normal;font-weight:normal}
header,footer,article,aside,nav,section,figure,figcaption{display:block;margin:0;padding:0}
.clearfix:after{content:'.';display:block;visibility:hidden;height:0;clear:both}
html,body{width:100%;height:100%}
body{font:12px Helvetica,Arial,sans-serif;color:#666;background:url("../images/body_bg.png") repeat 0 0;}
body a,body button{color:#666}
body button{display:block}
.header{position:fixed;top:0;width:100%;height:50px;background:url("../images/bg.png") repeat 0 0;border-top:2px solid #f47723;-webkit-box-shadow:0;-moz-box-shadow:0;-o-box-shadow:0;-ms-box-shadow:0;box-shadow:0;z-index:100;}
.header .headerInner{position:relative;width:960px;margin:0 auto}
.header .logo a{width:260px;height:80px;position:absolute;top:0;left:50%;margin-left:-130px;background:url("../images/logo.png") no-repeat center center;text-indent:-9999px}
.header .searchForm{position:absolute;width:auto;height:auto;left:65px;top:18px;}
.header .searchForm input{width:80px;height:20px;padding:0 20px 0 3px;border:1px solid #bfbfbf;color:#666;background:transparent}
.header .searchForm .submitBtn{width:14px;height:14px;position:absolute;right:3px;top:50%;margin-top:-7px;background:url("../images/search_btn.png") no-repeat center center}
.header .styleList{position:absolute;top:13px;left:20px;width:auto;height:auto;}
.header .styleList .styleListBtn{width:30px;height:30px;background:url("../images/list_btn.png") no-repeat center center;text-indent:-9999px}
.header .styleList .styleListBtn.active{background:url("../images/list_active_btn.png") no-repeat center center}
.header .styleList > ul{display:none;background:url("../images/bg.png") repeat 0 0;border:1px solid #ddd;margin-top:5px;}
.header .styleList > ul li{position:relative;}
.header .styleList > ul li:hover > .name{background:#f47723;color:#fff}
.header .styleList > ul li:hover > .total{background:#fff;color:#333}
.header .styleList > ul .subStyle{display:none;position:absolute;left:100px;top:0;background:url("../images/bg.png") repeat 0 0;border:1px solid #ddd}
.header .styleList > ul .name{display:block;width:80px;padding:6px 10px}
.header .styleList > ul .total{position:absolute;top:6px;right:5px;padding:0 2px;border:1px solid #ddd;border-radius:10px;background:#dfdfdf;opacity:.8;font-size:11px}
.header .loginBtn,.header .logoutBtn,.header .adminBtn{position:absolute;right:15px;top:15px;width:40px;padding:5px;text-align:center;}
.header .loginBtn:hover,.header .logoutBtn:hover,.header .adminBtn:hover{color:#f47723}
.header .adminBtn{right:60px}
.main{position:relative;width:960px;height:100%;margin:100px auto 0;}
.main .navBar{position:relative;width:244px;height:auto;margin:40px auto 0;padding-bottom:6px;}
.main .navBar .sortNav{position:relative;height:30px;padding-bottom:6px;border-bottom:1px solid #f47723;}
.main .navBar .sortNav li{width:auto;height:auto;position:absolute;}
.main .navBar .sortNav li a{width:80px;height:30px;float:left;line-height:31px;text-align:center}
.main .navBar .sortNav li.popular{left:80px}
.main .navBar .sortNav li.recommend{left:160px}
.main .navBar .sortNav li.active a{color:#f47723}
.main .navBar .navBox{position:absolute;bottom:0;left:34px;display:block;width:12px;height:12px;background:url("../images/nav_active.png") no-repeat 0 0}
.main .albumList{float:left;margin-top:20px;width:100%;}
.main .albumList li{position:relative;width:200px;height:240px;margin:18px;float:left}
.main .albumList .sleeve{display:block;position:absolute;width:200px;height:39px;background:url("../images/sleeve.png") no-repeat 0 0}
.main .albumList .cover{position:relative;display:block;width:200px;height:200px}
.main .albumList .shine{width:100%;height:100%;position:absolute;background:url("../images/shine.png") no-repeat 0 0}
.main .albumList .title,.main .albumList .artist{width:100%;text-align:center}
.main .albumList .title a{display:block;max-height:28px;line-height:16px;overflow:hidden;padding:5px 0;color:#f47723;text-shadow:0 0 10px #fff;}
.main .albumList .title a:hover{-webkit-box-shadow:inset;-moz-box-shadow:inset;-o-box-shadow:inset;-ms-box-shadow:inset;box-shadow:inset;background:#f47723}
.main .albumList .title:hover a{color:#fff}
.main .albumList .albumMetadata{display:none}
.albumModel{display:none;z-index:1001;position:absolute;background:#fff url("../images/bg.png") repeat 0 0;top:60px;left:50%;margin-left:-400px;width:800px;padding:20px 0;}
.albumModel .album{width:700px;margin:auto}
.albumModel h3{font:16px Arial,Helvetica,sans-serif;color:#111;padding-bottom:10px}
.albumModel h3:before{display:inline;content:'|';padding-right:1px;margin-right:5px;color:#f47723;background:#f47723}
.albumModel .cover{width:300px;height:300px;float:left}
.albumModel .info{width:380px;float:right;}
.albumModel .info .title{font:500 26px/1.2 "Microsoft YaHei";color:#333}
.albumModel .info > div{margin:10px 0}
.albumModel .info em{font-weight:bold;padding-right:10px}
.albumModel .info .relInfo{margin-top:10px;padding-top:10px;border-top:1px dashed #333;}
.albumModel .info .relInfo h4{font-weight:bold}
.albumModel .info .relInfo ul{overflow:hidden;margin:8px 0 16px}
.albumModel .info .relInfo li{float:left;width:auto;height:auto;margin-right:12px;}
.albumModel .info .relInfo li a{float:left;width:auto;height:16px;display:block;padding-left:20px}
.albumModel .info .relInfo .xiami{background:url("../images/xiami.png") no-repeat 0 center}
.albumModel .info .relInfo .doubanFM{background:url("../images/doubanFM.png") no-repeat 0 center}
.albumModel .info .relInfo .qqMusic{background:url("../images/qqMusic.png") no-repeat 0 center}
.albumModel .info .relInfo .kuwo{background:url("../images/kuwo.png") no-repeat 0 center}
.albumModel .info .relInfo .amazon{background:url("../images/amazon.png") no-repeat 0 center}
.albumModel .info .relInfo .taobao{background:url("../images/taobao.png") no-repeat 0 center}
.albumModel .info .relInfo .jingdong{background:url("../images/jingdong.png") no-repeat 0 center}
.albumModel .info .relInfo .paipai{background:url("../images/paipai.png") no-repeat 0 center}
.albumModel .info .relInfo .weibo{background:url("../images/weibo_share.png") no-repeat 0 center}
.albumModel .info .relInfo .qqWeibo{background:url("../images/qqWeibo_share.png") no-repeat 0 center}
.albumModel .info .relInfo .douban{background:url("../images/douban_share.png") no-repeat 0 center}
.albumModel .info .relInfo .renren{background:url("../images/renren_share.png") no-repeat 0 center}
.albumModel .detail{padding:20px 0;clear:both;}
.albumModel .detail p{line-height:24px}
.closeBtn{width:30px;height:30px;position:absolute;right:-15px;top:-15px;text-indent:-9999px;background:url("../images/close_btn.png") no-repeat 0 0}
.loginForm{z-index:1001;position:fixed;top:80px;left:50%;margin-left:-200px;width:340px;padding:20px 30px 20px 30px;}
.loginForm .tips{display:none;padding:5px 0;text-align:center;background:#f47723;color:#fff;margin-bottom:5px}
.loginForm .userName{background:url("../images/account_icon.png") no-repeat center center}
.loginForm .userPassword{background:url("../images/password_icon2.png") no-repeat center center}
.loginForm label{display:block;width:40px;height:100%;position:absolute;left:0;top:0;text-indent:-9999px}
.loginForm .inputRow{position:relative;width:318px;height:15px;padding:10px;margin-bottom:10px;border:1px solid #ddd;background:#fff;}
.loginForm .inputRow input{position:absolute;right:0;top:0;width:300px;height:100%;border:0;color:#666}
.loginForm .rememberRow{width:120px;float:left;}
.loginForm .rememberRow input[type="checkbox"]{position:relative;left:2px;top:4px}
.loginForm .rememberRow span{position:relative;left:5px;top:2px}
.loginForm .submitBtn{float:right;width:88px;height:34px;border:none;background:url("../images/button_bg.png") repeat 0 0;}
.loginForm .submitBtn:hover{color:#f47723}
.loginForm .socialLogin{position:relative;margin-top:100px;border-top:1px dashed #aaa;}
.loginForm .socialLogin p{width:160px;position:absolute;top:-18px;left:50%;margin-left:-80px;text-align:center}
.loginForm .socialLogin a{display:block;width:56px;height:56px;margin:30px 30px 0 25px;float:left;text-indent:-9999px;background-repeat:no-repeat;background-position:0 0}
.loginForm .socialLogin .weibo{background-image:url("../images/weibo_icon.png")}
.loginForm .socialLogin .qq{background-image:url("../images/qq_icon.png")}
.loginForm .socialLogin .douban{background-image:url("../images/douban_icon.png")}
.tips{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;padding:5px;background:#f47723;color:#fff;text-align:center}
.isotope-item{z-index:2}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
.isotope,.isotope .isotope-item{-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-ms-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s}
.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:-o-transform,opacity;transition-property:transform,opacity}
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0;-moz-transition-duration:0;-ms-transition-duration:0;-o-transition-duration:0;transition-duration:0}
