<div id="enterPage" class="enterPage" >
    <div class="browsers">
        <h2><img src="images/logo.png" /></h2>
        <a href="#" class="close"></a>
        <p>
        本网站由最新的互联网技术驱动（HTML5和CSS3），为了顺利访问，建议您更新IE浏览器至IE8，或安装更强大的现代浏览器：
        </p>
        <ul class="clearfix">
            <li><a class="a" target="_blank" href="http://www.google.com/chrome/?hl=zh-CN">谷歌 Chrome</a></li>
            <li><a class="b" target="_blank" href="http://www.mozilla.com/firefox/">火狐 Firefox</a></li>
            <li><a class="c" target="_blank" href="http://www.apple.com.cn/safari/">Safari</a></li>
            <li><a class="d" target="_blank" href="http://windows.microsoft.com/zh-CN/internet-explorer/products/ie/home/">IE9</a></li>
        </ul>
        <p>如果您使用的是360、遨游、腾讯QQ、搜狗等国产浏览器，请升级到最新的“双核”版本：</p>
        <ul class="clearfix">
            <li><a class="e" target="_blank" href="http://chrome.360.cn/">360极速</a></li>
            <li><a class="f" target="_blank" href="http://www.maxthon.cn/mx3/">遨游3</a></li>
            <li><a class="g" target="_blank" href="http://browser.qq.com/">QQ浏览器</a></li>
            <li><a class="h" target="_blank" href="http://ie.sogou.com/index.html">搜狗浏览器</a></li>
        </ul>
    </div>
    <div class="browsers-cover"></div>
</div>