<a href="/user/" class="backBtn">&#171; 返回账户管理界面</a>

<form action="/user" method="post"  id="userForm" class="userForm">
    <% if !@message.nil? %>
    <div class="tips"><%= @message %></div>
    <% end %>
    <div class="inputRow">
        <label for="userName">账号</label>
        <input type="text" name="username" id="userName" />
    </div>
    <div class="inputRow">
        <label for="userPassword">密码</label>
        <input type="text" name="password" id="userPassword" />
    </div>
    <button type="submit" data-mtype="submit" class="submitBtn">完成</button>
</form>